*{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: beige;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(neww\ pro.jpg);       
    background-repeat: no-repeat;
    background-position: top right;
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}


.container {
    padding: 10px 30px;
}
.container nav ul li {
    color: aliceblue;
    display: inline-table;
    list-style: none;
    margin: 10px;
    padding-bottom: 80px ;
    padding-right: 20px;
}

.container nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    position: relative;


}

.logo {
    width: 140px;

}

.container nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s;

}

.container nav ul li a:hover::after {
    width: 100%;
}
    
.headertxt {
    margin-top: 20%;
    font-size: 25px;
}

.headertxt h2 {
    font-size: 45px;
    margin: 20px;
    
}
.headertxt h2 span {
    color: blue;
}

/*----------------------about---------------------*/

#about {
    padding: 80px 0;
    
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.abt-col1 {
    flex-basis: 35%;
}

.abt-col1 img {
    width: 70%;
    border-radius: 15px;
}
.abt-col2 {
     flex-basis: 65%;

}

.sub {
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.tab-til {
    display: flex;
    margin: 20px 0 40px;
}
.links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.links.ac-link::after {
    width: 50%;
}
.tab-con ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-con ul li span {
    color: #ff004f;
    font-size: 14px;
}
.tab-con {
    display: none;
}
.tab-con.ac-tab {
    display: block;
}

/*---------------------------services---------------------------*/
#ser {
    padding: 30px 0;
}

.ser-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
}
.ser-list div {
    background: grey;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.ser-list div ion-icon {
    font-size: 40px;
    margin-bottom: 30px;
}
.ser-list div h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.ser-list div a {
    text-decoration: none;
    color: aqua;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.ser-list div:hover {
    background: orangered;
    transform: translate(10px);
}
/*-------------------portfolio------------------*/

#port {
    padding: 50px 0;
}

.worklist {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.2s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.2s;
}

.layer h1 {
    font-weight: 500;
    margin-bottom: 20px;

}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img {
    transform: scale(1.1);
}
.work:hover .layer {
    height: 100%;
}
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 5px solid blue;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: bisque;
    font-size: 20px;
    font-family: CooperBlack;
    transition: 0.5s;
}
.btn:hover {
    background: white;
    color: black;
    
}

/*-----------------------------contact----------------------------*/

.cont-lft {
    flex-basis: 35%;

}
.cont-rht {
    flex-basis: 60%;
    
}
.cont-lft p {
    margin-top: 30px; 
    font-size: 20px;
}

.cont-lft p ion-icon {
    color: aqua;
    margin-right: 15px;
    font-size: 30px;
}

.socic {
    margin-top: 30px;
}

.socic a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: yellow;
    display: inline block;
    transition: transform 0.2s;
}
.socic a:hover {
    color: blue;
    transform: translate(-5px);

}
.btn.btn2 {
    display: inline block;
    background:  yellow;
    color:black;
}

.cont-rht form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: white;
    padding: 15px;
    margin: 15px;
    color: black;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    font-family: CooperBlack;
    font-size: 25px;
    
}

.form btn2 {
    padding: 14px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copy {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: grey;
    font-weight: 300;
    margin-top: 20px;
}

/*--------------------small screen--------------------------*/

